version: '1.0'

services:
  oracle-db:
    build:
      context: ./init-scripts  # Chỉ định thư mục chứa Dockerfile của database
    container_name: oracledb
    environment:
      - ORACLE_PASSWORD=Swapuat  # Thay đổi mật khẩu theo yêu cu
      - ORACLE_DATABASE=swapcom  # Thay đổi tên PDB theo yêu cầu
      - ORACLE_USER=swapcom
      - ORACLE_USER_PASSWORD=Swapuat
    ports:
      - "1522:1521"  # Port cho Oracle Database
      - "5501:5500"  # Port cho Oracle EM Express (optional)
    healthcheck:
      test: ["CMD-SHELL","echo 'SELECT 1 FROM DUAL'; | sqlplus -s SYSTEM/Swapuat//localhost:1522/swapcom"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: always
    networks:
      - orc-net  # Kết nối với mạng orc-net

  swapcom-app:
    build:
      context: .  # Đảm bảo thư mục context là đúng
      dockerfile: Dockerfile  # Dockerfile của Spring Boot app
    container_name: spring-boot-app
    environment:
      - SPRING_DATASOURCE_URL=jdbc:oracle:thin:@oracle-db:1521:XE  # Kết nối Oracle DB container
      - SPRING_DATASOURCE_USERNAME=swapcom
      - SPRING_DATASOURCE_PASSWORD=Swapuat
      - SPRING_DATASOURCE_DRIVER-CLASS-NAME=oracle.jdbc.OracleDriver
      - SPRING_JPA_HIBERNATE_DDL-AUTO=none
      - JAVA_OPTS=-Djava.net.preferIPv4Stack=true   # Tùy chỉnh ddl-auto nếu cần
    ports:
      - "1234:1234"  # Port cho Spring Boot app
    depends_on:
      - oracle-db  # Đảm bảo oracle-db khởi động trước khi Spring Boot app
    restart: always
    networks:
      - orc-net  # Kết nối với mạng orc-net

networks:
  orc-net:
    driver: bridge  # Sử dụng mạng mặc định bridge, bạn có thể thay đổi nếu cần
